@media(max-width:900px){
    .menu{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    
    .menu{
        position: absolute;
       display: none;
       top: 15vh;
      left:0px;
      border-radius: 20px;
      width: 100%;
   
     flex-direction: column;
     
        background-color:  rgba(255,200,107,255);
        flex-direction: column;
    }

   
    .menu ul{
        flex-direction: column;  
        padding: 10px;
        
     }
   
    .menu li :hover{
        background-color: rgba(52,53,58,255);
        border-radius: 20px;
        transition: all 0.5s;
     }
        

    .menu li{
        padding:2% 0px;
        width: 100%;
   
        margin: 0;
   
        flex-direction: column;
        color:  rgba(52,53,58,255);  
    }

    .menu li a{
        width: 100%;
        color: rgba(52,53,58,255);
        display: flex;
        justify-content: center;
          
    }

    .nav-link button{
        width: 100%;
        display: flex;
        padding: 15px 0px;
    }
    
.menu li >a:hover{
    text-decoration: none;
    color:  rgba(255,200,107,255);
    border-bottom:none;
}

.about,.about1{
    display: none;
}
    
}

@media(min-width:900px){
    .menu-icon{
        display: none;
    }
  

    .menu{
        display: block;
    }

}

@media(max-width:450px){
   
    .responsive{
        width:100%;
    }
    
}

@media(max-width:448px){
   
    #changingText{
        width:100%;
        font-size: 32px !important;
    }
    
}
@media(max-width:334px){
   
    #changingText{
        width:100%;
        font-size: 27px !important;
    }
    
}


